################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AdventOfCode/v15
/AdventOfCode.DayOne/.vs/AdventOfCode.DayOne/v15
/AdventOfCode.DayOne/obj/Debug
/AdventOfCode.DayTwo/bin/Debug
/AdventOfCode.DayTwo/obj/Debug
/.vs/AdventOfCode/v16
