################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AdventOfCode/v15
/AdventOfCode.DayOne/.vs/AdventOfCode.DayOne/v15
/AdventOfCode.DayOne/obj/Debug
